@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url();
}

body {
    flex-direction: column;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#container {
    width: 650px;
    height: 100vh;
}

#container1 {
    border: 1px solid gray;
    display: flex;
    height: 6%;
    background-color: black;
    font-size: 30px;
    color: white;
    padding: 20px;
}

#container2 {
    border: 1px solid gray;
    display: flex;
    height: 10%;
    background-color: black;
    font-size: 30px;
    color: white;
    padding: 20px;
}

#container3 {
    border: 1px solid gray;
    display: flex;
    background-color: black;
    font-size: 30px;
    color: white;
}

#container4 {
    display: flex;
    height: 5%;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px 20px 0px 20px;
}

#container5 {
    display: flex;
    height: 3%;
    align-items: center;
    background-color: black;
    font-size: 30px;
    color: white;
    padding: 20px 20px 0px 20px;
}

#container6 {
    display: flex;
    height: 25%;
    align-items: flex-start;
    background-color: black;
    font-size: 30px;
    color: white;
    padding: 15px 20px 20px 20px;
}

#container7 {
    border: 1px solid gray;
    display: flex;
    height: 5%;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

i {
    font-size: 30px;
    padding: 5px 10px;
}

.fa-heart {
    color: red;
}

.fa-bookmark {
    position: relative;
    left: 415px;
}

.fa-ellipsis-h {
    position: relative;
    left: 380px;
}

.item {
    justify-content: flex-start;
    font-size: 25px;
}

.item1 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.item2 {
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 15px;
}

.dgu {
    font-weight: lighter;
    font-size: 20px;
}

.top_image {
    width: 60px;
    height: 60px;
    align-items: center;
    margin: 10px;
}

.middle_image {
    width: 650px;
    height: 650px;
    object-fit: cover;
}

.bottom_image {
    width: 40px;
    height: 40px;
}